<script>
    var url = '{{ url }}'
</script>

<style>
.container { 
  height: 1000px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

<div class="container">
  <div class="vertical-center">
    <h2 class="text-center">Để bắt đầu quá trình uỷ quyền Shopify cho ứng dụng, vui lòng nhấn nút bên dưới </h2>
<a class="center" href='{{ url }}'><button class="btn btn-primary center">Bắt đầu quá trình cài đặt ứng dụng</button></a>
  </div>
</div>
